{% extends 'base.html' %}

{% block contact %}


<div class="container z-depth-1 my-5 px-0">

  <!--Section: Content-->
  <section class="p-5 my-md-5 text-center" 
    style="background-image: url(https://mdbootstrap.com/img/Photos/Others/background2.jpg); background-size: cover; background-position: center center;">

    <!-- Section heading -->
    <h3 class="text-center font-weight-bold text-white mt-5 mb-3">Contact Us</h3>
    <!-- Section description -->
    <h4 class="text-center font-weight-normal text-white mx-auto mb-4 pb-2">We love to hear from you!</h4>

    <form class="mb-5 mx-md-5"  id="ConatctForm" method="post" >

      {% csrf_token %}
      <div class="row">
        <div class="col-md-4 mb-4">

          <!-- Name -->
          <input type="text" id="name" name="name" class="form-control" placeholder="Name">

        </div>
        <div class="col-md-4 mb-4">

          <!-- Email -->
          <input type="email" id="email" name="email" class="form-control" placeholder="Email">

        </div>
        <div class="col-md-4 mb-4">

          <!-- Phone -->
          <input type="number" id="phone" name="phone" class="form-control" placeholder="Phone (optional)">

        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mb-4">

          <!-- Subject -->
          <input type="text" id="subject" name="subject" class="form-control" placeholder="Subject" value="Ready">

        </div>
      </div>

      <div class="row">
        <div class="col-md-12">

          <div class="form-group mb-4">
            <textarea class="form-control rounded" name="message" id="message" rows="3" placeholder="How can we help?">How can we help?</textarea>
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-elegant slide-toggle">Submit</button>
          </div>

        </div>
      </div>

    </form>
 
    <div class="nav-item bg-transparent  col-12" id="messageBlock"> <B id="message1" class="p-4 m-2 rounded"></B></div>

 
  </section>
  <!--Section: Content-->

</div>
{% endblock %}

{% block formSubmit %}
  <script>


$('#ConatctForm').on('submit', (event)=> {
	event.preventDefault();
          let formData = $("#ConatctForm").serialize();
           $.ajax({
        url: '/save',
        type:'POST',
        data: formData,
        dataType: 'json',
        success:  (data)=> {
    
          if(data.state=='true'){
            document.getElementById("ConatctForm").reset();
            document.getElementById('message1').style="color:white;background-color:green";
            document.getElementById('message1').innerHTML=data.message;
            $("#message1").fadeOut(6000);
          }else{
            document.getElementById('message1').style="color:white;background-color:red";
            document.getElementById('message1').innerHTML=data.message; 
            document.getElementById(data.id).focus();
            document.getElementById(data.id).style="border-color:red";
          
          }
        }
      });
        })
  </script>
{% endblock %}